:root {
  --primary-gold-gradient: linear-gradient(
    183.6deg,
    #edb13e 2.96%,
    #f4d977 65.79%,
    #eeb850 129.95%
  );
  --secondary-gold-gradient: linear-gradient(
    93.48deg,
    #b07b15 -6.47%,
    #facf5d 41.82%,
    #b48328 97.8%
  );
  --third-gold-gradient: linear-gradient(
    153.5deg,
    #b07b15 34.99%,
    #facf5d 57.14%,
    #b48328 82.81%
  );

  --four-gold-gradient: linear-gradient(
    183.6deg,
    #b27b15,
    #fad05c,
    #b48327
  );

  --five-gold-gradient: linear-gradient(
    180deg,
    #bb8418cc 0%,
    #fcd384cc 50%,
    #bb8418cc 98.44%
  );

  --six-gold-gradient: linear-gradient(
    153.5deg,
    #b07b15 16.59%,
    #facf5d 47.17%,
    #b48328 82.62%
  );

  --third-gold-gradient-border: linear-gradient(
    153.5deg,
    #b07b15 34.99%,
    #facf5d 57.14%,
    #b48328 82.81%
  ) 1;
}

.global_text {
  font-family: "Philosopher", serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-feature-settings: "calt" off;
}